<form action="/cart" method="POST">
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
  <button class="btn" type="submit">Add to cart</button>
  <input type="hidden" name="productID" value="<%= product._id %>" />
</form>
