<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error Occured!</h1>
    <p>Sorry, an error has occured, we are trying to fix it as soon as possible!</p>

<%- include('includes/end.ejs') %>